.heading{
   text-align: center;
   background-color: rgb(149, 149, 189);
   border: 10px;
   margin: 10px;
   padding: 10px;
   
   border-radius: 100PX 100PX 100PX 100PX;
   background-image: linear-gradient(to right, rgb(193, 112, 112),orange,rgb(181, 181, 113),rgb(86, 142, 86),rgb(66, 66, 114),indigo,violet);
  
}
.headingg{
    text-align: center;
    background-color: rgb(149, 149, 189);
    border: 10px;
    margin: 10px;
    padding: 10px;
 }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 345px;
    width: 345px;
    
    

}
.para:hover{
    text-align: center;
    color:  rgb(207, 207, 235);
    background-color: rgb(149, 149, 189);
   
    padding: 0.3rem;
    transition: all 0.5s ease;
}
.sheading{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(135, 230, 163);
    border-radius: 130px ;
   
}